@font-face {
font-family: "Prisma";
src: url("fonts/Prisma.ttf");
}
@font-face {
font-family: "Citadels";
src: url("fonts/Citadels.otf");
}
header{
	background: no-repeat top;
	background-image: url("img/headingbg.png");
	background-size: 100%;
	margin: 0 ;
	padding-top: 30px;
	text-align: center;
	height:263px;
}
#home-name{
	font-size: 6vw;
	text-align: center;
	font-family: Prisma;
}
#home-top-description {
	font-size: 2vw;
	text-align: center;
	font-family: Citadels;
}
body{
	background-color:#fffad1 !important;
}
.navbar-inverse,.navbar-inverse .navbar-toggle{
     border-color: #ff8c42 !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color:#ff8c42 !important;
	opacity: 0.4;
}
#navbar {
	background-color: #ff8c42;
}
#navbar a {
	font-family: Verdana;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	opacity: 0.4;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background-color: red !important;
}
.navbar-brand {
	padding-left:12vw !important;
}
.container{
	margin-left:12% !important;
	width:80% !important;
}

@keyframes blink {
	
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

.csrolldown{
	animation: blink 1s;
	animation-iteration-count: infinite;
}
#INTRODUCTIONBODY{
	text-align: center;
	padding-top :30%;
	height: 70vw;
	background-image: url("img/introductionbg.jpg");
	background-attachment:fixed;
	background-size: 150%;
}
.grid-container {
  clear:left;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% 33% 33%;
  padding:20px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
}
#PRODUCTSBODY{
	text-align: center;
}
#_150bigger{
	text-align: center;
	background-image: url("img/150biggerbg.jpg");
	background-attachment:fixed;
	background-size: 100%;
}
.size_banana{
	width:48%;
	float:left;
}
#WHERE_TO_BUY_BODY{
	text-align: center;
}
#WHEREBODY{
	text-align: center;
	padding-top :30%;
	height: 70vw;
	background-image: url("img/ryananashop.jpg");
	background-attachment:fixed;
	background-size: 100%;
}
#signupbtn{
	background-color: #f9f685;
	border: 4px solid #c2cc00;
	width: 50% !important;
}
footer{
	text-align: center;
}
.fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}